@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<!-- Add a button and button handler -->
<button @onclick="OnButtonClickHandled">Click for handled exception</button>
<button @onclick="OnButtonUnhanledClicked">Click for unhandled exception</button>

@code {


    private void OnButtonClickHandled()
    {
        try
        {
            throw new Exception("OnButtonClickHandled");

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }   
    }

    private void OnButtonUnhanledClicked()
    {
        throw new Exception("OnButtonClickHandled");
    }
}

